@import url('https://fonts.googleapis.com/css?family=Grenze|Lobster|Open+Sans&display=swap');

h3 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    
font-family: 'Grenze', serif;

}

h4 {
    
    font-family: 'Lobster', cursive;
}