@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');


.aboutUsBanner {
    
    background-color: $primary;
    width: 100%;

    p {
        text-align: center;
        color: $secondary;
    }

    












}