@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');





.checkoutForm {

    background-image: url("../../../../images/home/roseBG.jpg");
    background-size: cover;

    #StripeElement {
        background: $light;
        color: white;
        border-radius: 20px;
        border:2px solid $secondary;
    
    }

    h2 {
        font-family: 'Heebo', sans-serif;
        font-weight: 100 ;
        font-size: 4vw;
    }

    .input-group {
        border: 0;
        border-bottom: 2px solid $secondary;
        width: 100%;
        font-size: 3vw;
        line-height: 35px;
        height: 50px;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        color: $dark;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $dark;
        opacity: 1; /* Firefox */
        
    
      }

    .btn {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #FormBg {
        
        
        
        
    }

    @media only screen and (max-width : 768px) {
        
        #FormBg {

            
            width: 90%;
            display: block;
            
            
        }

        }





}
