@import "../variables";
@import "../typography";



.Footer {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
    background-color: lightgray;
    


    i {
        padding: 20px
    }

    i:hover {
        transform: scale(1.5);
        color: $primary;
    }
    

    





}