@import "../variables";




.home {
    /* background-image: url(../../../../images/home/roseBG2.jpg);
    background-size: cover; */

    height: 100vh;
    width: 100%;

    .btnrow {
        height: 90vh;
    }

    .text {
        padding-top: 3rem;
    }

    .carousel-item {
        width: 100%;
        height: 100vh;
    }

    .carousel-img {
        background-size: cover;
    }


    .banner {
        padding-top: 100px;
    }


    
    
}

