@import "../variables";




.home {
    background-image: url(../../../../images/home/roseBG2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;

    .btnrow {
        height: 90vh
    }

    .banner {
        padding-top: 100px;
    }


    
    
}

