@import "../variables";
@import "../typography";

.igListItem {

    
        .imgThumbnail {
            height: 150px;
            max-width:150px;
            object-fit: cover;
            
        }

          
        .grow { transition: all .2s ease-in-out;
        }
       .grow:hover { transform: scale(.5); 
       }



}