@import "../variables";




.login {

    .awesome {
        background: $dark;
        height: 100vh;
        width: 100vw;
    }

    .jugg {
        background: $primary;
        height: 100vh;
        width: 100vw;
    }

    #LoginCenterPositioning {
        position: absolute;
        top: 30%;
    }

    #formRow {
        top: 30%;
    }



    

}