
@import "../variables";
@import "../typography";
@import "../buttons";

.productDetails {

    .grow{       
        transition:all 0.5s ease-in-out;
        &:hover{
            
            transform: scale(1.1);
            
        }
        &:focus{
            outline: none;
        }
            }


            @media only screen and (max-width : 980px) {
                #center{
                    text-align: center;
                    justify-content: center;
                }
            }
        
}