
@import "../variables";
@import "../typography";
@import "../buttons";

.products {
    .card{
        border-color:transparent;
    }
    

    @media only screen and (max-width: 850px) {
        .card{
            border: 0.04rem solid rgba(0,0,0,0.2);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }


    .card-footer{

        background: transparent;
        border-top: transparent;
        transition: all 1s linear;
    }

    &:hover{
        .card{
            border: 0.04rem solid rgba(0,0,0,0.2);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;

        }
        .card-footer {
            background: $secondary2;
        }

        .img-container {
            position:relative;
            overflow: hidden;

        }

        .card-img-top {
            transition: all 1s linear;
        }
        .img-container:hover .card-img-top {
            transform:scale(1.2);
        }

        .cart-btn {
            position: absolute;
            bottom:0;
            right:0;
            padding:0.2rem 0.4rem;
            background: $primary;
            border:none;
            color: $light;
            font-size: 1.4rem;
            border-radius: 0.5rem 0 0 0;
           

        }

        .img-container:hover .cart-btn{
            transform: translate(0,0)
        }


        .cart-btn:hover {
            color: $secondary;
            cursor: pointer;
        }

        .grow{       
    transition:all 0.5s ease-in-out;
    &:hover{
        
        transform: scale(1.1);
        
    }
    &:focus{
        outline: none;
    }
        }
    }

    .bannerImg {

        width: 100%;
        height: 20vh;
        background-color: white;
    
    }

    .sideText {
        padding-top: 150px;
        color: white;
        
    }

    #sideMenu {
        width:100%;
        background-color: whitesmoke;
    }

    #sideMenuLashes {
        height: 400px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel.jpg');
        background-size: cover;
    

    
    }

    #sideMenuHair {
        height: 400px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel3.jpg');
        background-size: cover;
        

    
    }

    #sideMenuCosmetics {
        height: 400px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel2.jpg');
        background-size: cover;

    
    }

    .sideText:hover {
        padding-top: 300px;
        color: $dark
        
    }

   

    #sideMenuLashes:hover {
        height: 200px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel3.jpg');
        background-size: cover;
        background-repeat: repeat;
    }

    #sideMenuCosmetics:hover {
        height: 200px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel.jpg');
        background-size: cover;
        background-repeat: repeat;
    }
   
    #sideMenuHair:hover {
        height: 200px;
        background-color: whitesmoke;
        background-image: url('../../../../images/home/blackModel2.jpg');
        background-size: cover;
        background-repeat: repeat;
    }


    @media only screen and (max-width : 850px) {
    

        .sideText:hover {
            padding-top: 150px;
            color: $dark
            
        }

        #sideMenuLashes:hover {
            height: 400px;
            background-color: whitesmoke;
            background-image: url('../../../../images/home/blackModel3.jpg');
            background-size: cover;
            background-repeat: repeat;
        }
    
        #sideMenuCosmetics:hover {
            height: 400px;
            background-color: whitesmoke;
            background-image: url('../../../../images/home/blackModel.jpg');
            background-size: cover;
            background-repeat: repeat;
        }
       
        #sideMenuHair:hover {
            height: 400px;
            background-color: whitesmoke;
            background-image: url('../../../../images/home/blackModel2.jpg');
            background-size: cover;
            background-repeat: repeat;
        }
    
    
    }

    

}